{% extends 'base.html.twig' %}


{% block title %}  {{ wish.title }} {% endblock %}

{% block main %}
    <h1>{{ wish.title }}</h1>
    <h3>par {{ wish.author }}, le {{ wish.dateCreated | date('d-m-Y à H:i') }}</h3>
    <p>{{ wish.description }}</p>
{% endblock %}